/*!
 * Start Bootstrap - Agency v4.1.1 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */
body {
	overflow-x: hidden;
	font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: 1.75;
}

a {
	color: #4488FF;
}

a:hover {
	color: #fec503;
}

.text-primary {
	color: #4488FF !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
	padding: 80px 0;
}

section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}

section h3.section-subheading {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 75px;
	text-transform: none;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
	section {
		padding: 100px 0;
	}
}

.btn {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.btn-xl {
	font-size: 16px;
	padding: 15px 35px;
}

.btn-primary {
	background-color: #4488FF;
	border-color: #4488FF;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #fec810 !important;
	border-color: #fec810 !important;
	color: white;
}

.btn-primary:active, .btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
	background: #4488FF;
	text-shadow: none;
}

::selection {
	background: #4488FF;
	text-shadow: none;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

#mainNav {
	background-color: #4488FF;
}

#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #4488FF;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
	color: #4488FF;
	font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	color: #fff;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {

}

@media (min-width: 992px) {
	#mainNav {
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		transition: all 0.3s linear;
		border: none;
		background-color: transparent;
	}
	#mainNav .navbar-brand {
		font-size: 1.75em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}
	#mainNav.navbar-shrink {
		background-color: #4488FF;
		-webkit-box-shadow: 0 1px 0px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 0px 0px rgba(0,0,0,0.1);
		box-shadow: 0 1px 0px 0px rgba(0,0,0,0.1);
	}
	#mainNav.navbar-shrink .navbar-brand {
	}
}

header.masthead {
	text-align: center;
	color: #fff;
	background: #4488ff url('../images/landing-top-bg.png') no-repeat fixed center;
	background-size: cover;
}

header.masthead .intro-text {
	padding-top: 150px;
	padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
	font-size: 32px;
	margin-bottom: 25px;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
	font-size: 16px;
	margin: auto;
	margin-bottom: 50px;
	max-width: 700px;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	font-size: 20px;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
	margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
	margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
	max-width: 400px;
	margin: 0 auto;
	padding: 25px;
	text-align: center;
	background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
	margin: 0;
	text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
	z-index: 2;
}

@media (min-width: 767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}

.portfolio-modal {
	padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
	margin: 1rem;
	max-width: 100vw;
}

.portfolio-modal .modal-content {
	padding: 100px 0;
	text-align: center;
}

.portfolio-modal .modal-content h2 {
	font-size: 3em;
	margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
	font-size: 16px;
	font-style: italic;
	margin: 20px 0 30px;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
	cursor: pointer;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;
}

.portfolio-modal .close-modal:hover {
	opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
	/* Safari and Chrome */
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	/* IE 9 */
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
	/* Safari and Chrome */
	z-index: 1052;
	width: 1px;
	height: 75px;
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	background-color: #212529;
}

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}

.timeline:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	content: '';
	background-color: #e9ecef;
}

.timeline > li {
	position: relative;
	min-height: 50px;
	margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
	display: table;
	content: ' ';
}

.timeline > li:after {
	clear: both;
}

.timeline > li .timeline-panel {
	position: relative;
	float: right;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline > li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline > li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline > li .timeline-image {
	position: absolute;
	z-index: 100;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	background-color: #4488FF;
}

.timeline > li .timeline-image h4 {
	font-size: 10px;
	line-height: 14px;
	margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline > li:last-child {
	margin-bottom: 0;
}

.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}

.timeline .timeline-heading h4.subheading {
	text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.timeline:before {
		left: 50%;
	}
	.timeline > li {
		min-height: 100px;
		margin-bottom: 100px;
	}
	.timeline > li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 13px;
		line-height: 18px;
		margin-top: 16px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}

@media (min-width: 992px) {
	.timeline > li {
		min-height: 150px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline > li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 30px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	}
}

@media (min-width: 1200px) {
	.timeline > li {
		min-height: 170px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline > li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeline > li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	}
}

footer {
	padding: 25px 0;
	text-align: center;
}

footer span.copyright {
	font-size: 90%;
	line-height: 40px;
	text-transform: none;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
	font-size: 90%;
	line-height: 40px;
	margin-bottom: 0;
	text-transform: none;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 20px;
	line-height: 40px;
	display: block;
	width: 40px;
	height: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
	background-color: #4488FF;
}

.nav-logo {
	width: auto;
	height: 32px;
}

#features > *{
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
}
#features .fa-stack{
	font-size: 3em;
}
@media (min-width: 992px)
{
	#features .fa-stack{
		font-size: 4em;
	}
}

.border-r{
  border-radius: 25px;
  box-shadow: 0px 0px 15px -5px black;
  -webkit-box-shadow: 0px 0px 15px -5px black;
  -moz-box-shadow: 0px 0px 15px -5px black;
}
.p-box{
  height: 100%;
  transition: 0.5s;
  border: 1px solid #c8efff;
}
.p-box *{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.p-box:hover{
  transform: scale(1.05);
}
.p-box:hover h3,{
  color: #136dc7;
}
.p-box h2{
  color: #4488ff;
  background-color: #dfefff;;
/*  border-radius: 25px 25px 0 0;*/
  text-align: center;
  padding: 7px 3px;
}
.p-box h3,h5{
  color: #4499ee;
  transition: 0.5s;
  text-align: center;
}
.p-box h3{
  font-size: 2.25rem;
  padding-top: 5px;
}
.p-box h5{
  font-size: 1rem;
}
.p-box .p-content ul{
  padding-left: 20px;
  list-style-type: none;
}
.p-box .p-content li{
  transition: 0.2s;
  list-style-type: none;
}
.p-box .p-content li:hover{
  transform: scale(1.05);
}
.p-box .p-content li:before{
  content: '✓';
  font-weight: bold;
  padding-right: 5px;
}

.p-box .p-header{
  height: 140px;
}
.p-box .p-subheader{
  padding: 15px;
  height: 20%;
}
.p-box .p-content{
  padding: 15px;
  height: calc(82% - 232px);
}

.p-box .p-footer{
  padding: 5px 15px;
  height: 50px;
}
.p-box .p-footer .btn{
/*  border-radius: 25px;*/
}
.p-header .p-montly{
  display: none;
}
.p-header .p-yearly{
  display: none;
}
#monthly-btn, #yearly-btn{
  display: none;
}
#monthly-btn + label{
  /*box-shadow: -1px 0px 15px -5px black;
  -webkit-box-shadow: -1px 0px 15px -5px black;
  -moz-box-shadow: -1px 0px 15px -5px black;*/
  border: 1px solid #4488ff;
  border-radius: 0;
}
#yearly-btn + label{
  /*box-shadow: 1px 0px 15px -5px black;
  -webkit-box-shadow: -1px 0px 15px -5px black;
  -moz-box-shadow: -1px 0px 15px -5px black;*/
  border: 1px solid #4488ff;
  border-radius: 0;
}
#monthly-btn + label, #yearly-btn + label{
  margin: 0 -0.5px;
  color: #4499ee;
  margin-bottom: 25px;
  z-index: 4;
}
#monthly-btn:checked ~ div .p-header .p-montly{
  display: block;
}
#monthly-btn:checked + label, #yearly-btn:checked + label{
  background-color: #dfefff;
  /*color: #4488ff;*/
  z-index: 5;
}
#yearly-btn:checked ~ div .p-header .p-yearly{
  display: block;
}
.follow-navbar{
	z-index: 5;
	height: 48px;
	background-color:#4488FF;
	position: fixed;
	top: 0;
	width: 100%;
}
@media (min-width: 992px){
	.follow-navbar{
		height: 68px;
	}
}